*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #E9E8E8;
}
header
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 100px;

}
header .logo
{
	position: relative;
	max-width: 150px;
	transition: 0.5s;
}
header .logo:hover
{
	transform: translateY(+15px);
}
header ul
{
	position: relative;
	display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{

    list-style: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
header ul li a:hover
{
	font-weight: 800;
	color: #913175;
}
.content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .TextBox
{
	position: relative;
	max-width: 600px;
}
.content .TextBox h2
{
	color: #333;
	font-size: 3.5em;
	line-height: 1em;
	font-weight: 400;
}
.content .TextBox h2 span
{
	color: #913175;
	font-size: 1.2em;
	font-weight: 900;
}
.content .TextBox p
{
	color: #333;
}
.content .TextBox a
{
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #913175;
	color: #fff;
	border-radius: 40px;
	font-weight: 800;
	letter-spacing: 1px;
	text-decoration: none;
}
.carru
{

	padding-bottom: 100px;
  	display: flex;

}
.carru img
{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .7;
  transition: .5s ease;

}
.carru img:hover
{
  cursor: crosshair;
  width: 300px;
  opacity: 2;
  filter: contrast(120%);
}
.TextBox
{
	margin-bottom: 100px;
	margin-left: 100px;
}
